In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [7]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [13]:
len(titles)

230621

### What are the earliest two films listed in the titles dataframe?

In [16]:
titles.sort_values(by='year').head(2)

                     title  year
176477          Miss Jerry  1894
213694  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [19]:
len(titles[titles.title=='Hamlet'])

18

### How many movies are titled "North by Northwest"?

In [20]:
len(titles[titles.title=='North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [29]:
titles[titles.title=='Hamlet'].sort('year').head(1)

/Users/coolfish/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

        title  year
46365  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [31]:
titles[titles.title=='Treasure Island'].sort_values(by='year')

                  title  year
204540  Treasure Island  1918
50896   Treasure Island  1920
189691  Treasure Island  1934
96259   Treasure Island  1950
59186   Treasure Island  1972
110576  Treasure Island  1973
203909  Treasure Island  1985
178072  Treasure Island  1999

### How many movies were made in the year 1950?

In [34]:
len(titles[titles.year==1950])

1093

### How many movies were made in the year 1960?

In [35]:
len(titles[titles.year==1960])

1496

### How many movies were made from 1950 through 1959?

In [38]:

len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12656

### In what years has a movie titled "Batman" been released?

In [39]:
titles[titles.title=='Batman']

        title  year
55577  Batman  1989
74047  Batman  1943

### How many roles were there in the movie "Inception"?

In [44]:
len(cast[cast.title=='Inception'])

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [51]:
len(cast[(cast.title=='Inception') & (cast.n.isnull())])

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [53]:
len(cast[(cast.title=='Inception') & (cast.n.notnull())])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [58]:
cast[(cast.title=='North by Northwest') & (cast.n.notnull())].sort_values(by='n')

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [60]:
cast[(cast.title=='Sleuth') & (cast.year==1972)].sort_values(by='n')

,title,year,name,type,character,n
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [61]:
cast[(cast.title=='Sleuth') & (cast.year==2007)].sort_values(by='n')

          title  year                 name     type          character    n
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [63]:
len(cast[(cast.title=='Hamlet') & (cast.year==1921) & (cast.n.notnull())])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [64]:
len(cast[(cast.title=='Hamlet') & (cast.year==1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [68]:
len(cast[cast.character=='Hamlet'])

91

### How many people have played an "Ophelia"?

In [72]:
len(cast[cast.character=='Ophelia'])

111

### How many people have played a role called "The Dude"?

In [73]:
len(cast[cast.character=='The Dude'])

18

### How many people have played a role called "The Stranger"?

In [74]:
len(cast[cast.character=='The Stranger'])

208

### How many roles has Sidney Poitier played throughout his career?

In [84]:
cast[(cast.title=='The Great Gatsby') & (cast.year==2013)].sort('n')

/Users/coolfish/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,title,year,name,type,character,n
2443686,The Great Gatsby,2013,Lisa (II) Adam,actress,Weeping,1.0
2443687,The Great Gatsby,2013,Lisa (II) Adam,actress,Singing Woman,1.0
30754,The Great Gatsby,2013,Frank Aldridge,actor,Well Dressed Male Witness - Wilson's Garage,2.0
104937,The Great Gatsby,2013,Amitabh Bachchan,actor,Meyer Wolfsheim,3.0
201518,The Great Gatsby,2013,Steve Bisley,actor,Dan Cody,4.0
346534,The Great Gatsby,2013,Richard Carter,actor,Herzog,5.0
414107,The Great Gatsby,2013,Jason Clarke,actor,George Wilson,6.0
2639100,The Great Gatsby,2013,Adelaide Clemens,actress,Catherine,7.0
435012,The Great Gatsby,2013,Vince Colosimo,actor,Michaelis,8.0
485053,The Great Gatsby,2013,Max Cullen,actor,Owl Eyes,9.0
523639,The Great Gatsby,2013,Mal Day,actor,The Boss-Probity Trust,10.0
2696276,The Great Gatsby,2013,Elizabeth Debicki,actress,Jordan Baker,11.0
569516,The Great Gatsby,2013,Leonardo DiCaprio,actor,Jay Gatsby,12.0
630830,The Great Gatsby,2013,Joel Edgerton,actor,Tom Buchanan,13.0
638225,The Great Gatsby,2013,Emmanuel Ekwenski,actor,Jazz Player,14.0
672751,The Great Gatsby,2013,Eden Falk,actor,Mr. McKee,15.0
2777379,The Great Gatsby,2013,Isla Fisher,actress,Myrtle Wilson,16.0
2786163,The Great Gatsby,2013,Emily Foreman,actress,Pammy,17.0
3590145,The Great Gatsby,2013,Tiger Leacey Wyvill,actress,Pammy,18.0
3419021,The Great Gatsby,2013,Charlize Skinner,actress,Pammy,19.0
728589,The Great Gatsby,2013,Garrett William Fountain,actor,Barman,20.0
752769,The Great Gatsby,2013,David (III) Furlong,actor,Walter Chase,21.0
801216,The Great Gatsby,2013,Daniel (VIII) Gill,actor,Police Commissioner,22.0
1031158,The Great Gatsby,2013,Iota,actor,Trimalchio the Orchestra Leader,23.0
1076916,The Great Gatsby,2013,Price Johnson,actor,Singer - Wilson's Garage,24.0
1161191,The Great Gatsby,2013,Stephen James King,actor,Nelson,25.0
1170963,The Great Gatsby,2013,Goran D. Kleut,actor,Head Waiter - Speakeasy,26.0
1175984,The Great Gatsby,2013,Kim Knuckey,actor,Senator Gulick,27.0
1249138,The Great Gatsby,2013,Barrie Laws,actor,Party Guest,28.0
1269230,The Great Gatsby,2013,Mark (III) Lemon,actor,The Professor,29.0
...,...,...,...,...,...,...
897065,The Great Gatsby,2013,Gareth Hamilton-Foster,actor,Gatsby's Waiter,NaN
905091,The Great Gatsby,2013,Nigel Harbach,actor,Ripley Snel,NaN
1036046,The Great Gatsby,2013,Denning Isles,actor,Clarinetist,NaN
1051233,The Great Gatsby,2013,Matt (XXXIII) James,actor,Thug,NaN
1169578,The Great Gatsby,2013,Hrvoje Klecz,actor,Dancer,NaN
1297050,The Great Gatsby,2013,Alex Lissine,actor,Cocktail Waiter,NaN
1326819,The Great Gatsby,2013,Baz Luhrmann,actor,Waiter,NaN
1493124,The Great Gatsby,2013,Corey Mills,actor,Bartender,NaN
1508349,The Great Gatsby,2013,Stefan Mogel,actor,The Bell Boy,NaN
1661837,The Great Gatsby,2013,Jey Oz,actor,Wolfsheim Thugs,NaN
1676083,The Great Gatsby,2013,Kai Pantano,actor,Guard,NaN
1702910,The Great Gatsby,2013,Drew (V) Pearson,actor,Party Guest - Hotel Sayre,NaN
1775464,The Great Gatsby,2013,Chris (V) Proctor,actor,William,NaN
1863237,The Great Gatsby,2013,Alexander Roberts,actor,Gatsby Servant,NaN
2055418,The Great Gatsby,2013,Roger Adam Smith,actor,Gardener,NaN
2283158,The Great Gatsby,2013,Chris Vlassis,actor,Patron,NaN
2526247,The Great Gatsby,2013,Alison Benstead,actress,Anita Loos,NaN
2538772,The Great Gatsby,2013,Sarah (II) Bishop,actress,Party Guest,NaN
2558813,The Great Gatsby,2013,Jackie Bowker,actress,Mrs. Quinn,NaN
2558814,The Great Gatsby,2013,Jackie Bowker,actress,Party Guest,NaN
2564596,The Great Gatsby,2013,Julie-Anne Breen,actress,Passerby,NaN
2830923,The Great Gatsby,2013,Lara Goldie,actress,Cheery Broadway Reveler,NaN
2940616,The Great Gatsby,2013,Georgia Jarrett,actress,Party Attendee,NaN
3061899,The Great Gatsby,2013,Kate (II) Little,actress,Laurette Taylor,NaN
3181474,The Great Gatsby,2013,Rowan Moses,actress,Gertrude Vanderbilt - Prada Girl,NaN
3182357,The Great Gatsby,2013,Emma Mothersdill,actress,Michaelis Cafe Patron,NaN
3257165,The Great Gatsby,2013,Jaimee Peasley,actress,Party Entertainer,NaN
3327223,The Great Gatsby,2013,Eddie Ritchard,actress,Drowned Rat,NaN
3423063,The Great Gatsby,2013,Cocheene Smith,actress,Elsie Ferguson,NaN
3584181,The Great Gatsby,2013,Leah Wood,actress,Gatsby's Mother,NaN

### How many roles has Judi Dench played?

In [86]:
len(cast[(cast.name=='Judi Dench')])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [87]:
cast[(cast.name=='Cary Grant') & (cast.n==2) & (cast.year//10*10==1940)].sort('year')

/Users/coolfish/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [88]:
cast[(cast.name=='Cary Grant') & (cast.n==1) & (cast.year//10*10==1940)].sort('year')

/Users/coolfish/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,title,year,name,type,character,n
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
840386,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
840401,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
840378,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
840336,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
840373,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
840372,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946,Cary Grant,actor,Devlin,1.0
840393,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [94]:
len(cast[(cast.year//10*10==1950) & (cast.type=='actor')])

484890

### How many roles were avilable for actresses in the 1950s?

In [95]:
len(cast[(cast.year//10*10==1950) & (cast.type=='actress')])

260766

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [97]:
%%time
len(cast[(cast.year//10*10<=1980) & (cast.n==1)])

CPU times: user 138 ms, sys: 32.7 ms, total: 171 ms
Wall time: 159 ms

75762

### How many non-leading roles were available through from the beginning of film history through 1980?

In [103]:
len(cast[(cast.year <=1980) & (cast.n!=1)])

1094780

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [105]:
len(cast[(cast.year <=1980) & (cast.n.isnull())])

438086